<main>
    <article class="bg-white rounded-xl p-5 mb-2 shadow">
        <h2>About StockTracker</h2>
        <p><span class="font-bold">StockTracker</span> is a showcase application built to demonstrate my proficiency with Angular and modern front-end development practices.</p>

        <p>It integrates real stock market data from external APIs; however, please note that the data is not real-time and may be subject to delays. 
            This site is intended for demonstration purposes only — it is not a financial tool and does not provide investment advice or guarantees regarding data accuracy or timeliness.</p>
        <p>The application highlights key Angular concepts such as component architecture, reactive forms, state management, and API integration.</p> 
        <p>Use it at your own discretion. I hope StockTracker offers a clear example of my technical capabilities and dedication to building clean, responsive user interfaces.</p>
        <p>Thanks for visiting!</p>
    </article>
</main>
