
    
    @if(!loading){
        <h2>Top News</h2>
        <div class="mb-[20px]">
            @if(topNews$ | async; as topNews){

                @for(item of topNews; track item.id){
                    <div class="bg-white flex items-center rounded-xl p-5 mb-2 shadow transform transition-all hover:-translate-y-1 hover:scale-[1.02] hover:shadow-lg animate-fade-in-up">
                        <a href={{item.url}} target="_blank">
                            <div class="flex items-center">
                                <img
                                    alt={{ item.headline }} 
                                    class="w-12 h-12 rounded-full object-cover mr-5 border-2 border-stockTrackerBlue" 
                                    src={{item.image}} />
                                <div>{{ item.headline }}</div>
                            </div>
                        </a>
                    </div>
                }
        
                <div class="w-full flex justify-center">
                    <button 
                    class="
                    mb-[20px]
                    mt-[20px]                    
                    bg-transparent 
                    cursor-pointer 
                    hover:bg-stockTrackerBlue 
                    text-stockTrackerBlue 
                    font-semibold 
                    hover:text-white 
                    py-2 
                    px-4 
                    border 
                    border-stockTrackerBlue 
                    hover:border-transparent 
                    rounded
                    disabled:opacity-50 
                    disabled:cursor-not-allowed
                    " 
                    [disabled]="newsItemsLoaded" 
                    (click)="getMore()"
                >
                    More
                </button>
                </div>           
        
            }
            @else {
                <div class="flex justify-center"> <h3>No news items are available at this time!</h3></div>
            }
        </div>
    }
    @else {
        <div>
            <div class="text-center text-[#596479] text-lg mt-10">Loading...</div>
        </div>        
    }
    






