<div class="bg-white mb-4 p-4 border border-gray-300 rounded-xl shadow-none transform transition-all hover:-translate-y-1 hover:scale-[1.02] hover:shadow-lg">
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4 items-center px-2 md:px-6">
    <div>
        <div class="text-lg font-semibold">{{symbol}}</div>
        <div class="text-sm text-gray-500">{{ companyName }}</div>
    </div>

    <div>
      <div class="text-xs text-gray-500">Close</div>
      <div
        class="text-lg font-semibold flex items-center gap-1"
        [ngClass]="isNegativeChange ? 'text-stockTrackerRed' : 'text-green-600'"
      >
        {{ formattedPriceChange }}
        <svg *ngIf="isNegativeChange" xmlns="http://www.w3.org/2000/svg" class="lucide lucide-arrow-down w-4 h-4 text-stockTrackerRed" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path d="M12 5v14"></path>
          <path d="m19 12-7 7-7-7"></path>
        </svg>
        <svg *ngIf="!isNegativeChange" xmlns="http://www.w3.org/2000/svg" class="lucide lucide-arrow-up w-4 h-4 text-green-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path d="M12 19V5"></path>
          <path d="m5 12 7-7 7 7"></path>
        </svg>
      </div>
    </div>

    <div>
        <div class="text-xs text-gray-500">Market Cap</div>
        <div class="text-base font-medium">{{ marketCap * 1000000 | largeNumberFormat }}</div>
    </div>

    <div>
      <div class="text-gray-500">Volume</div>
      <div class="font-medium">{{ volume | largeNumberFormat }}</div>
    </div>

    <div class="col-span-1 md:col-span-1">
        <div class="text-xs text-gray-500">Day Range</div>
        <div class="text-base font-medium">
            {{low.toFixed(2)}} - {{high.toFixed(2)}}
        </div>
    </div>   
    
    <div class="md:col-start-4">                                  
      <a                 
        class="inline-block bg-stockTrackerBlue text-white text-sm font-semibold px-4 py-2 rounded-md hover:bg-[#a3d5e7] transition cursor-pointer" 
        (click)="onOpenDetail(symbol, companyName)">
        More
      </a>
    </div>    

  </div>
</div>
