<div class="flex justify-center">

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 w-[300px] md:w-[630px] lg:w-[1220px]">

        @if( performance$ | async; as assets ){
            <app-peformance-card 
                [title]="'Most Active'" 
                [alignment]="'md:justify-self-start'" 
                [maxNum] = MAX_NEW_ITEM [data] = assets.mostActive ></app-peformance-card>

            <app-peformance-card 
                [title]="'Top Gainers'" 
                [alignment]="'md:justify-self-center'" 
                [maxNum] = MAX_NEW_ITEM [data] = assets.gainers ></app-peformance-card>

            <app-peformance-card 
                [title]="'Top Losers'" 
                [alignment]="'justify-self-auto lg:justify-self-end'" 
                [maxNum] = MAX_NEW_ITEM [data] = assets.losers ></app-peformance-card>

        }

      </div>
</div>














  