<p>home works!</p>



<!-- <svg xmlns="http://www.w3.org/2000/svg" width="400" height="400" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 400 400">
    <circle cx="200" cy="200" r="100" fill="none" stroke="#1382aa" stroke-width="30"/>
    <rect x="50" y="280" width="130" height="30"  stroke="#1382aa" fill="#1382aa" transform="rotate(-45 50 280)" rx="10" ry="10" />
    <rect x="150" y="196" width="80" height="30"  stroke="#1382aa" fill="#1382aa" transform="rotate(45 150 196)" rx="10" ry="10" />
    <rect x="167" y="250" width="230" height="30"  stroke="#1382aa" fill="#1382aa" transform="rotate(-45 167 250)" rx="10" ry="10" />

</svg>
-->











  