#asset-dialog-title
{
    padding:0 24px 0px 24px;
}

.close-button {
    height: 25px;
}
h3.title{
    margin: 0 0 6px;
    font-weight:450;
}

::ng-deep .mat-mdc-dialog-container .mat-mdc-dialog-content {
    color: rgb(0 0 0);
    font-size: 14px;
    font-weight: normal;
    letter-spacing: normal;
}

