
<div class="flex flex-row-reverse mr-2 mt-2">
    <button mat-icon-button (click)="closeDialog()" class="ml-2 cursor-pointer">
        <mat-icon>close</mat-icon>
    </button>
</div>
    @if (assetDetail$ | async; as assetDetail) {

        <h2 mat-dialog-title id="company-dialog-title" aria-live="polite">

                <div>
                    <img
                    *ngIf="assetDetail.results.branding?.icon_url"
                    [src]="assetDetail.results.branding.icon_url + `?apikey=${apiKey}`"
                    alt="{{ assetDetail.results.name }} logo"
                    width="40"
                    height="40"
                    style="vertical-align: middle; margin-right: 8px;"
                    class="rounded-sm"
                    />
                    {{ assetDetail.results.name || 'Loading company...' }}
                </div>


        </h2>
        
          <mat-dialog-content>
            <main>

          
              <section>
                <h3>Key Metrics</h3>
                market_cap
                <!-- <p>Symbol: {{ company?.stockSymbol }}</p>
                <p>Price: {{ company?.stockPrice }}</p> -->
              </section>

              <section>
                <h3>Description</h3>
                <p>{{ assetDetail.results.description }}</p>
              </section>
            </main>
          </mat-dialog-content>


        <!-- <div> {{assetDetail.results.homepage_url}}</div>
        <br />
        <div> {{assetDetail.results.description}}</div>
        <br />
        <div>total_employees: {{assetDetail.results.total_employees}}</div>
        
        composite_figi
        currency_name
        homepage_url
        list_date 
        locale
        market
        market_cap
        primary_exchange
        round_lot
        share_class_figi
        share_class_shares_outstanding
        sic_code
        sic_description
        ticker
        ticker_root
        total_employees
        type
        weighted_shares_outstanding -->
        
    }















