
<div class="flex flex-row-reverse">
    <a (click)="closeDialog()" class="cursor-pointer mt-3 mr-3 close-button">
        <mat-icon>close</mat-icon>
    </a>
</div>
@if (assetDetail$ | async; as assetDetail) {

    <h2 id="asset-dialog-title" aria-live="polite">
        <div class="flex items-center">
            <div class="mr-2">
                <a href="{{assetDetail.results.homepage_url}}" target="_blank">
                    @if(!assetDetail.results.branding?.icon_url){
                        <div class="bg-black text-white text-[12px] font-semibold w-[45px] h-[45px] rounded-full flex justify-center items-center">
                            {{ assetDetail.results.ticker }}
                        </div>
                    }
                    @else {
                        <img
                        [src]="assetDetail.results.branding.icon_url + `?apikey=${apiKey}`"
                        alt="{{ assetDetail.results.name }} logo"
                        class="w-[45px] h-[45px] rounded-full"
                        />
                    }
                </a>
            </div>
            <div>
                {{ assetDetail.results.name || 'Loading asset name...' }}
            </div>                        
        </div>
        <div class="flex items-baseline">
            <div class="mr-1">$100</div>
            <div class="text-sm">{{ assetDetail.results.currency_name | uppercase }}</div>            
        </div>
    </h2>
    <hr class="h-px bg-gray-200 border-0 dark:bg-gray-700">
    <mat-dialog-content>
        <main>        
            <section>
                <h3>Key Metrics</h3>
                <div class="grid grid-cols-2 gap-2">
                    <div>Mkt cap: {{assetDetail.results.market_cap | largeNumberFormat}}</div>
                    <div>Market: {{assetDetail.results.market}}</div>                    
                    <div>Exchange: {{assetDetail.results.primary_exchange}}</div>
                    <!-- <div>list_date: {{ assetDetail.results.list_date }}</div> -->
                    <!-- <div>round_lot: {{ assetDetail.results.round_lot }}</div> -->
                    <!-- <div>share_class_shares_outstanding: {{ assetDetail.results.share_class_shares_outstanding }}</div>

                    <div>type: {{ assetDetail.results.type }}</div>
                    <div>weighted_shares_outstanding: {{ assetDetail.results.weighted_shares_outstanding }}</div> -->
                </div>

            </section>

            <section>
                <h3>Description</h3>
                <p>{{ assetDetail.results.description ? assetDetail.results.description : 'No description available.' }}</p>
            </section>
        </main>
    </mat-dialog-content>
   
}















