<div>Hello</div>

@if (assetDetail$ | async; as assetDetail) {
    <div><img [src]='assetDetail.results.branding?.icon_url' /></div>
    <div> {{assetDetail.results.name}}</div>
    <br />
    <div> {{assetDetail.results.homepage_url}}</div>
    <br />
    <div> {{assetDetail.results.description}}</div>
    <br />
    <div>total_employees: {{assetDetail.results.total_employees}}</div>
    
    primary_exchange
    composite_figi
    currency_name
    description
    homepage_url
    list_date 
    locale
    market
    market_cap
    primary_exchange
    round_lot
    share_class_figi
    share_class_shares_outstanding
    sic_code
    sic_description
    ticker
    ticker_root
    total_employees
    type
    weighted_shares_outstanding
    
}


