/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme{
    --color-stockTrackerBlack: #0A101C;
    --color-stockTrackerBlackLight: #596479;
    --color-stockTrackerBlue:#1382aa;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Interceptor */

.custom-snackbar {
    background-color: #dc3d3d !important;
    color: white;
    border-radius:5px; 
    z-index:99999;
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface{
    border-radius:5px !important;
}
                 
.custom-snackbar .mat-mdc-snack-bar-action:hover {
    background-color: orange !important;  
    color: white !important;  
    box-shadow: none !important;  
    background:blue !important;
  }

  .snackbar-container mat-icon {
    cursor: pointer;
    color: white;
  }



